alabaster==0.7.12
asn1crypto==0.24.0
asyncio==3.4.3
Babel==2.8.0
backports.functools-lru-cache==1.6.1
base58==1.0.3
baseconvert==1.0.0a4
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
cryptography==2.1.4
curve25519-donna==1.3
docutils==0.16
enum34==1.1.6
idna==2.10
imagesize==1.2.0
ipaddress==1.0.17
Jinja2==2.11.2
keyring==10.6.0
keyrings.alt==3.0
lxml==4.6.1
MarkupSafe==1.1.1
packaging==20.4
pycrypto==2.6.1
pycryptodome==3.9.7
Pygments==2.5.2
pygobject==3.26.1
pyparsing==2.4.7
python-axolotl-curve25519==0.4.1.post2
python-dotenv==0.13.0
pytz==2020.1
pyxdg==0.25
requests==2.24.0
SecretStorage==2.3.1
six==1.15.0
snowballstemmer==2.0.0
soupsieve==1.9.6
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
typing==3.7.4.3
urllib3==1.25.10
